body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  .bg-steel {
    background-color: #7a9ad6;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #7a9ad6;
  }
  
  .article-content {
    white-space: pre-line;
    margin-left: 10px;
    font-size: 10pt; 
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 1px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3;
    margin-left: 5px;
    font-size: 11pt;
    color: #3431ff;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .btn-outline-success {
    color: #e4e5e6;
  }

  .additional-margin {
    margin-left: 5px;
  }

  .btn {
    color: #e4e5e6;
  }

  .btn_add_searches {
    color: #17a2b8;;
  }

  .media-body {
    margin-left: 10px;
  }

  .add-margin {
    margin-top: 10px;
  }

  .greyish_brownish {
    color: #4e473a;
  }

 .additional-bottom-margin {
   margin-bottom: 20px;
 }